<!-- footer.ejs -->
<footer id="site-footer" role="contentinfo">
<div class="container">
<nav id="global-footer" aria-label="フッターナビ">
<ul>
<li><a href="/kiyaku">利用規約</a></li>
<li><a href="/privacy-policy">プライバシーポリシー</a></li>
<li><a href="/sitemap">サイトマップ</a></li>
</ul>
</nav>
</div>
</footer>
<div class="copyright">
<p id="copyright-1">© 2026 QC-Portal. All rights reserved.</p>
</div>