<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("./_share/metadata.ejs")%>
    <title>運営者情報 | QC-Portal</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link rel="stylesheet" href="/public/index.css" />
  </head>

  <body>
    <div id="site-wrapper">
      <%- include("./_share/navbar.ejs") %>

      <main class="qcis-container">

        <section aria-labelledby="about-heading">
          <h1 id="about-heading" class="about-heading-row">
            <img src="/public/bumj0JrIISHlE7g1764955302_1764955340.png" alt="管理人アイコン" class="about-avatar">
            運営者情報
          </h1>

          <p>こんにちは、QC-Portal管理者です。<br>
          関東在住の30代サラリーマンです。</p>

          <p>私は大学で数学・統計を専攻し、社会人になってから独学で品質管理とITを習得しました。製品の設計や技術開発をメインにデータ分析・データマネジメントなどを経験し今にいたります。二児の子宝に恵まれ、育休を二人合わせて７か月取得しました。</p>

          <p>データや数式をいじくり回すのが好きすぎて流行りのデータサイエンティストを目指したり、"いやいや、やっぱりデータを集めるにはシステムを開発できないとだめでしょ"と考え、独学でＩＴを勉強したりなど思いついたらすぐに行動してしまう性分です。</p>

          <p>品質管理との出会いは、データサイエンスという一昔前ではバズワードとなった時期になります。会社員として経験を積み、そろそろ上司が人事に昇格推薦をだしやすいよう「資格の１つや２つ取ってみるか」という不純な動機でした。</p>

          <p>幸運なことにこの不純な動機から始まった品質管理のスキルは私にとって２つのメリットを与えてくれました。</p>

          <ol>
            <li>狙い通り昇格・昇給へ</li>
            <li>他社にも通じる確実な武器・スキルの習得</li>
          </ol>

          <h2>１．狙い通り昇格・昇給へ</h2>

          <p>これは狙い通りでした。考えてみてください。あなたがもし管理職で、３人の中から1人昇格させなければならない立場だったとしましょう。さて、あなたは誰を選びますか？このとき、この3人は平均的な日本の社会人としてずば抜けてシゴデキというわけでもなく、同じような職種で成果もまあ同じようなものだったとします。（当たり前ですがとびぬけて仕事できる人は勝手に昇進していきます）このとき、管理職であるあなたは人事に推薦しやすくなる明確な違いがある理由が欲しくなります。なぜこの人を推薦するのか？という。これは簡単です。日々自己研鑽している資格を習得している人です。３人が同じ力量、同じ職種、同じ実績量となると背中を押すのはやはり"違い"です。1人だけ"品質管理の資格を持っている"という事実はかなりのアドバンテージになります。品質管理は製造業はもちろん、サービス業やＩＴにも活用できます。会社に最も貢献しそうな人物として3人肩を並べたとき、圧倒的に有利に働きます。一部推測もありますが、私は実際この環境に当てはまりました。おかげさまで同期の中で最速で出世できました。</p>

          <h2>２．他社にも通じる確実な武器・スキルの習得</h2>

          <p>正直、この事実のほうがメインになります。製造業では自社製品を開発しますが、その製品についてしか力が付きません。他社には通用しないスキルばかり付いてしまします。（同業他社には十分通じますが）会社の経営状況や職場環境が怪しくなったとき、すぐに異なる環境へ身をおける状態をつくっておくことは非常に心理的に安定します。「私はいつでも転職・独立できる」という確固たる武器と心持ちはサラリーマンとしては最強です。売り手市場という環境もあるのでスキルアップという意味ではＱＣ検定は最適でした。</p>

          <p>ＱＣ検定を学習すると、"仕事に役に立つ！"、"改善活動ができるようになった"など様々なメリットがありますが、上記２点が私にとっては現実的で勉強して良かったと考えています。</p>

          <p>品質管理の本質理解はかなり時間がかかります。本質を理解してから試験に合格しようではなく、試験に合格してから本質を理解しようをおすすめしています。だって早く合格したいじゃないですか。私は最速・最短でＱＣ検定®に合格できるコンテンツを提供することに挑戦していきます。</p>
        </section>

        <section aria-labelledby="qualifications-heading">
          <h2 id="qualifications-heading">管理人保有資格</h2>
          <ul>
            <li>ＱＣ検定®１級</li>
            <li>統計検定®準１級</li>
            <li>データベーススペシャリスト</li>
            <li>応用情報技術者</li>
            <li>Pythonデータ分析試験</li>
          </ul>
        </section>

      </main>

      <%- include("./_share/footer.ejs") %>
    </div>
  </body>
</html>
