<!DOCTYPE HTML>
<html lang="ja">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-B9KG07BWZ5"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'G-B9KG07BWZ5');
	</script>
	<meta name="viewport" content="width=960,user-scalable=yes">
	<link rel="alternate" media="only screen and (max-width: 640px)" href="https://www.ap-siken.com/s/thissiteis.html">
	<meta name="robots" content="noindex">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<link rel="stylesheet" href="/style.css">
	<link rel="shortcut icon" href="/favicon.ico">


	<title>このサイトの利用について（利用規約）｜QC-Potal</title>
	<style>
		.main dl {
			font-size: 90%
		}

		.main .tbl dt {
			clear: left;
			float: left;
			color: inherit
		}

		.main .tbl dt {
			width: 110px
		}

		.main .tbl dd {
			margin-left: 110px
		}

		.main article {
			margin: 10px 0 20px
		}

		.main article b {
			font-size: 110%;
			letter-spacing: 0
		}

		ol.parenthesesList {
			counter-reset: licount;
			margin-left: 0.5em
		}

		ol.parenthesesList>li {
			counter-increment: licount;
			list-style: none;
			text-indent: -2em
		}

		ol.parenthesesList>li:nth-child(n+10) {
			text-indent: -2.6em
		}

		ol.parenthesesList>li::before {
			content: "(" counter(licount)") ";
			letter-spacing: 0
		}

		ol.parenthesesList>li>ul {
			text-indent: 0;
			margin: 0
		}
	</style>
</head>

<body>

	<script>
		if (typeof localStorage !== undefined) {
			const theme = localStorage.getItem('NIGHT') || localStorage.getItem('NIGHTMODE') || 0;
			if (theme == 1) document.body.className += ' night';
			if (theme == 2) document.body.className += ' beige';
		}
	</script>

	<!-- HEADER START -->
	<!--
<header id="headerWrap" class="centeringBox">
<div id="header" class="centeringContent">
<h1>応用情報技術者 試験情報＆徹底解説</h1>
<a href="/"><img src="/img/titlelogo.png" width="500" height="66" id="logo" alt="QC-Portal" title="QC-Portal トップページ"></a>
<div id="countdown"></div>
</div>

<nav id="headerMenuWrap" class="centeringBox">
<div id="headerMenu" class="centeringContent">
<ul>
<li id="fastMenuBtn"><a href="/kakomon/07_aki/" title="最新過去問の解説">過去問題解説</a>
<li><a href="/apis.html" title="応用情報技術者とは">応用情報技術者とは</a>
<li><a href="/apkakomon.php" title="過去問道場">過去問道場</a><ul><li><a href="/apkakomon.php">過去問道場（午前）</a><li><a href="/apkakomon_pm.php">過去問道場（午後）</a></ul>
<li><a href="/apbbs.php" title="応用情報技術者掲示板">掲示板</a>
<li><a href="/keyword/" title="シラバス用語集">用語集</a>
</ul>
</div>
</nav>
</header>
-->
	<!-- HEADER END -->

	<!-- CONTENT START -->
	<div id="contentWrap" class="centeringBox">
		<div id="content" class="centeringContent">
			<!-- MAINCOL START -->
			<main id="mainCol">
				<div class="pan"><a href="/">HOME</a>&raquo;<strong>このサイトの利用について</strong></div>
				<div class="main">

					<h2>このサイトの利用について（運営方針）</h2>
					<div class="roundBox sentence">
						<p>QC-Portalは、本サイト管理者自身が過去にQC検定&copy;2級、QC検定&copy;準1級、統計検定&copy;準1級に独学で合格した経験と、
							10年近くにわたる品質管理業務経験で培ったノウハウを活かし、QC検定&copy;に挑戦される皆さんを全力で応援するために作られたサイトです。</p>
						<p>受験者にとってインフラのような存在になるべく更新を続けています。至らない点もあるかとは思いますが、
							このサイトが少しでも試験対策のお役に立てれば嬉しいです！</p>
					</div>

					<h2>利用規約</h2>
					<div class="roundBox sentence">
						<p>本利用規約（以下「本規約」と言います。）には、本サービスの提供条件及び当方とユーザーの皆様との間の権利義務関係が定められています。
							本サービスの利用に際しては、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。</p>

						<article><b>第１条（適用）</b>
							<ol>
								<li>本規約は、本サービスの提供条件及び本サービスの利用に関する当方とユーザーとの間の権利義務関係を定めることを目的とし、
									ユーザーと当方との間の本サービスの利用に関わる一切の関係に適用されます。
								<li>本規約の内容と、前項のルールその他の本規約外における本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。
								<li>本サービスの利用を開始した場合には、本サービスの利用規約に同意したものとみなします。
							</ol>
						</article>

						<article><b>第２条（定義）</b><br>
							<p>本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。</p>
							<ol class="parenthesesList">
								<li>「サービス利用契約」とは、本規約を契約条件として当方とユーザーの間で締結される、本サービスの利用契約を意味します。
								<li>「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、
									またはそれらの権利につき登録等を出願する権利を含みます。）を意味します。
									<!--<li>「投稿データ」とは、ユーザーが本サービスを利用して投稿その他送信するコンテンツ（文章、画像、動画その他のデータを含みますがこれらに限りません。）を意味します。-->
								<li>「当方」とは、本サイトを運営する管理者を意味します。
								<li>「当方ウェブサイト」とは、そのドメインが「qc-portal.com」である、当方が運営するウェブサイト
									（理由の如何を問わず、当方のウェブサイトのドメインまたは内容が変更された場合は、当該変更後のウェブサイトを含みます。）を意味します。
								<li>「ユーザー」とは、本サービスを利用する個人または法人を意味します。
								<li>「本サービス」とは、当方が提供する当方ウェブサイトにより提供されるサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含みます。）を意味します。
									<!--<li>「メンバーシップサービス」とは、本サービスのうちメンバーシップ制度に登録をしたユーザーに対して、当方が提供する当方ウェブサイトにより提供されるサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含みます。）を意味します。-->
							</ol>
						</article>

						<article><b>第３条（パスワード及びユーザーIDの管理）</b><br>
							<ol>
								<li>ユーザーは、自己の責任において、本サービスに関するパスワード及びユーザーIDを適切に管理及び保管するものとし、これを第三者に利用させ、
									または貸与、譲渡、名義変更、売買等をしてはならないものとします。
								<li>パスワードまたはユーザーIDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任はユーザーが負うものとします。
							</ol>
						</article>

						<article><b>第４条（料金及び支払方法）</b><br>
							<ol>
								<li>本サービスは、無料で提供されています。
									<!--<li>メンバーシップサービスに登録したユーザーは、メンバーシップサービス利用の対価として、別途当方が定め、当方ウェブサイトに表示する利用料金を、当方が指定する支払方法により当方に支払うものとします。
<li>メンバーシップサービスは、ユーザーが明示的に解約手続きを行わない限り、自動的に同一期間で更新されます。ユーザーは、自動更新の有無及び解約手続の管理について自己の責任で行うものとします。ユーザーの確認不足、認識誤り等によって契約が継続された場合でも、当方は返金その他の対応を行いません。-->
								<li>ユーザーが当方に対して本サービス範囲外の個別の対応を要求する場合は、その個別対応の対価として、
									別途当方が定めた利用料金を、当方が指定する支払方法により当方に支払うものとします。
								<li>ユーザーが利用料金の支払いを遅滞した場合、ユーザーは年14.6％の割合による遅延損害金を当方に対して支払うものとします。
							</ol>
						</article>

						<article><b>第５条（禁止事項）</b><br>
							<p>ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当する行為または該当すると当方が判断する行為をしてはなりません。</p>
							<ol class="parenthesesList">
								<li>法令に違反する行為または犯罪行為に関連する行為
								<li>当方、本サービスの他の利用者またはその他の第三者に対する詐欺または脅迫行為
								<li>公序良俗に反する行為
								<li>当方、本サービスの他の利用者またはその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為
								<li>本サービスを通じ、以下に該当し、または該当すると当方が判断する情報を当方または本サービスの他の利用者に送信すること
									<ul>
										<li>過度に暴力的または残虐な表現を含む情報
										<li>コンピュータ・ウィルスその他の有害なコンピュータ・プログラムを含む情報
										<li>当方、本サービスの他の利用者またはその他の第三者の名誉または信用を毀損する表現を含む情報
										<li>過度にわいせつな表現を含む情報
										<li>差別を助長する表現を含む情報
										<li>自殺、自傷行為を助長する表現を含む情報
										<li>薬物の不適切な利用を助長する表現を含む情報
										<li>反社会的な表現を含む情報
										<li>チェーンメール等の第三者への情報の拡散を求める情報
										<li>他人に不快感を与える表現を含む情報
									</ul>
								<li>本サービスのアクセス制御機能を回避する行為
								<li>本サービスのネットワークまたはシステム等に過度な負荷をかける行為
								<li>当方が提供するソフトウェアその他のシステムに対するリバースエンジニアリングその他の解析行為
								<li>ソースコードのトレース、デバッグ、スクレイピングその他の手段により当方ウェブサイトのソースコードを得ようとする行為
								<li>本サービスの運営を妨害するおそれのある行為
								<li>当方のネットワークまたはシステム等への不正アクセス
								<li>第三者に成りすます行為
								<li>当方ウェブサイト内の画像に直接リンクする行為
								<li>本サービスの他の利用者のIDまたはパスワードを利用する行為
								<li>当方が事前に許諾しない本サービス上での宣伝、広告、勧誘、または営業行為
								<li>本サービスの他の利用者の情報の収集
								<li>当方、本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為
								<li>反社会的勢力等への利益供与
								<li>面識のない異性との出会いを目的とした行為
								<li>前各号の行為を直接または間接に惹起し、または容易にする行為
								<li>前各号の行為を試みること
								<li>その他、当方が不適切と判断する行為
							</ol>
						</article>

						<article><b>第６条（本サービスの停止等）</b><br>
							<p>当方は、以下のいずれかに該当する場合には、ユーザーに事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。</p>
							<ol>
								<li>本サービスに係るコンピュータ・システムの点検または保守作業を緊急に行う場合
								<li>コンピュータ、通信回線等の障害、誤操作、過度なアクセスの集中、不正アクセス、ハッキング等により本サービスの運営ができなくなった場合
								<li>地震、落雷、火災、風水害、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合
								<li>その他、当方が停止または中断を必要と判断した場合
							</ol>
						</article>

						<article><b>第７条（権利帰属）</b><br>
							<ol>
								<li>当方ウェブサイト及び本サービスに関する知的財産権は全て当方または当方にライセンスを許諾している者に帰属しており、
									本規約に基づく本サービスの利用許諾は、当方ウェブサイトまたは本サービスに関する当方または当方にライセンスを
									許諾している者の知的財産権の使用許諾を意味するものではありません。
								<li>ユーザーは、投稿データについて、自らが投稿その他送信することについての適法な権利を有していること、
									及び投稿データが第三者の権利を侵害していないことについて、当方に対し表明し、保証するものとします。
								<li>ユーザーは、投稿データについて、当方に対し、世界的、非独占的、無償、サブライセンス可能かつ譲渡可能な使用、
									複製、配布、派生著作物の作成、表示及び実行に関するライセンスを付与します。
								<li>ユーザーは、当方及び当方から権利を承継しまたは許諾された者に対して著作者人格権を行使しないことに同意するものとします。
								<li>当方ウェブサイトに掲載しているコンテンツは著作権の対象となっております。また当方ウェブサイト全体も、
									編集著作物として著作権の対象となっており、いずれも日本国の著作権法によって保護されます。
									営利・非営利を問わず、当方の許諾を得ずに、当方ウェブサイトのコンテンツを使用（複製・転載・頒布・翻案を含みますがこれらに限りません。）
									をすることはできません。
									<!--当方ウェブサイトのコンテンツの利用をご希望の方は、利用形態を明示したうえで、
	お問い合わせフォームより連絡をお願い致します。-->
									<!--<li>「過去問道場&reg;」は当方の登録商標です。登録された商品・役務の区分についてこの名称を使うと商標法違反となりますのでご注意ください。</li>-->

									<!--
<li>【過去問題の使用について】<br>
IPAが公開している情報処理技術者試験及び情報処理安全確保支援士の過去問題は、試験制度の意義に反しない目的であり利用方法を順守すれば、テキストや問題集への収録を含めて許諾なしで使用できる旨がWebサイト上に記載されております。<br>
　<a href="https://www.jitec.ipa.go.jp/1_04hanni_sukiru/_index_mondai.html" target="_blank">https://www.jitec.ipa.go.jp/1_04hanni_sukiru/_index_mondai.html</a><br>
当方ウェブサイトに掲載している問題文等のデータは、公式の過去問題PDFを基にディジタルデータとして複製したものです。しかしながら、当方ウェブサイト全体は著作権法で規定される「編集著作物」に該当するため、その一部である問題文等のコンテンツを当方の許諾なく使用できるわけではないのでご注意ください。利用規約または法令に違反する当方ウェブサイトのコンテンツの使用が発覚した場合、著作物使用料及び損害賠償金を請求いたします。
</ol>
-->
						</article>

						<article><b>第８条（登録抹消等）</b><br>
							<p>当方は、ユーザーが、以下の各号のいずれかの事由に該当する場合は、事前に通知または催告することなく、<!--投稿データを削除もしくは非表示にし、-->
								当該ユーザーについて本サービスの利用を一時的に停止し、またはユーザーとしての登録を抹消することができます。</p>
							<ol class="parenthesesList">
								<li>本規約のいずれかの条項に違反した場合
								<li>12ヶ月以上本サービスの利用がない場合
								<li>当方からの問い合わせその他の回答を求める連絡に対して30日間以上応答がない場合
								<li>その他、当方が本サービスの利用またはユーザーとしての登録の継続を適当でないと判断した場合
							</ol>
						</article>

						<article><b>第９条（本サービスの内容の変更、終了）</b><br>
							<ol>
								<li>当方は、当方の都合により、本サービスの内容を変更し、または提供を終了することができます。
								<li>当方が本サービスの提供を終了する場合、当方は当方ウェブサイト上での掲示その他の適切な方法によりユーザーに事前に通知するものとします。
									<!--<li>メンバーシップサービスの内容が変更され、または提供を終了した場合でも、請求対象期間の残り部分についての払戻しはいたしません。-->
							</ol>
						</article>

						<article><b>第10条（保証の否認及び免責）</b><br>
							<ol>
								<li>当方は、本サービスまたは当方ウェブサイトが紹介するウェブサイト及び商品がユーザーの特定の目的に適合すること、
									期待する機能・商品的価値・正確性・完全性・有用性・合法性・道徳性・最新性・適切性を有すること、
									ユーザーによる本サービスの利用がユーザーに適用のある法令または業界団体の内部規則等に適合すること、
									継続的に利用できること、及び不具合が生じないことについて、明示又は黙示を問わず何ら保証するものではありません。
								<li>当方は、当方又は使用者に故意又は重大な過失がある場合を除き、本サービスに関してユーザーが被った損害につき、
									1万円又はユーザーが支払った利用料のいずれか低い額を超えて賠償する責任を負わないものとします。また、付随的損害、間接損害、
									特別損害、将来の損害及び逸失利益にかかる損害については、賠償する責任を負わないものとします。
								<li>本サービスまたは当方ウェブサイトに関連してユーザーと他のユーザーまたは第三者との間において生じた取引、
									連絡、紛争等については、ユーザーが自己の責任によって解決するものとします。
							</ol>
						</article>

						<article><b>第11条（秘密保持）</b><br>
							<p>ユーザーは、本サービスに関連して当方がユーザーに対して秘密に取扱うことを求めて開示した非公知の情報について、
								当方の事前の書面による承諾がある場合を除き、秘密に取扱うものとします。</p>
						</article>

						<article><b>第12条（利用者情報の取扱い）</b><br>
							<ol>
								<li>当方によるユーザーの利用者情報の取扱いについては、別途当方プライバシーポリシー
									（<a
										href="privacypolicy.html">https://www.ap-siken.com/privacypolicy.html</a>）の定めによるものとし、
									ユーザーはこのプライバシーポリシーに従って当方がユーザーの利用者情報を取扱うことについて同意するものとします。
								<li>当方は、ユーザーが当方に提供した情報、データ等を、個人を特定できない形での統計的な情報として、
									当方の裁量で、利用及び公開することができるものとし、ユーザーはこれに異議を唱えないものとします。
							</ol>
						</article>

						<article><b>第13条（本規約等の変更）</b><br>
							<ol>
								<li>当方は、当方が必要と認めた場合は、ユーザーに通知することなくいつでも本規約を変更できるものとします。
								<li>本規約の変更に当たり、ご利用いただいているユーザーの皆様に大きな影響を与える場合には、
									変更後の本規約の施行時期及び内容を当方ウェブサイト上での掲示その他の適切な方法により周知し、
									またはユーザーに通知します。ただし、法令上ユーザーの同意が必要となるような内容の変更の場合は、
									当方所定の方法でユーザーの同意を得るものとします。
								<li>変更後の本規約に同意しないユーザーは、本サービスの利用を停止してください。
							</ol>
						</article>

						<article><b>第14条（連絡／通知）</b><br>
							<ol>
								<li>本サービスに関する問い合わせその他ユーザーから当方に対する連絡または通知、
									及び本規約の変更に関する通知その他当方からユーザーに対する連絡または通知は、当方の定める方法で行うものとします。
								<li>当方が登録事項に含まれるメールアドレスその他の連絡先に連絡または通知を行った場合、ユーザーは当該連絡または通知を受領したものとみなします。
							</ol>
						</article>

						<article><b>第15条（サービス利用契約上の地位の譲渡等）</b><br>
							<ol>
								<li>ユーザーは、当方の事前の承諾なく、本サービスに関する利用契約上の地位や権利・義務を第三者に譲渡または貸与することはできません。
								<li>当方が本サービスの運営を他の者に引き継ぐ場合、当方は利用契約上の地位およびユーザー情報を当該引継先に移転できるものとし、
									ユーザーはこれにあらかじめ同意するものとします。
							</ol>
						</article>

						<article><b>第16条（分離可能性）</b><br>
							<p>本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、
								本規約の残りの規定及び一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</p>
						</article>

						<article><b>第17条（準拠法及び管轄裁判所）</b><br>
							<ol>
								<li>本規約及びサービス利用契約の準拠法は日本法とします。
								<li>本規約またはサービス利用契約に起因し、または関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
							</ol>
						</article>

						<article>
							【2010年4月7日制定】<br>
							【2020年10月29日改定】<br>
							【2021年8月5日改定】<br>
							【2023年8月14日改定】<br>
							【2025年3月20日改定】<br>
						</article>
					</div>

					<h2>運営・管理人について</h2>
					<div class="roundBox sentence">
						<p>管理人：Ryujiro Nagata</p>
						<dl class="tbl">
							<dt>平成20年春期</dt>
							<dd>QC検定&copy;2級　合格</dd>
							<dt>平成20年秋期</dt>
							<dd>QC検定&copy;準1級　合格</dd>
							<dt>平成20年2月</dt>
							<dd>日商簿記検定3級　合格</dd>
							<dt>平成21年9月</dt>
							<dd>Webサイト「QC-Portal」開設</dd>
						</dl>
					</div>

				</div>
			</main>
			<!-- MAINCOL END -->

		</div>
	</div>
	<!-- CONTENT END -->

	<!-- FOOTER START -->
	<footer id="footerWrap" class="centeringBox">
		<div id="footer" class="centeringContent">
			<div class="displaySelect"><span>表示： <b>PC</b> ｜ <a href="/s/thissiteis.html">モバイル</a></span></div>
			<nav class="footerContent">
				<a href="/thissiteis.html">利用規約</a>
				<a href="/privacypolicy.html">プライバシーポリシー</a>
				<a href="/tokushouhou.html">特商法に基づく表記</a>
				<a href="/contact.html">お問い合わせ</a>
				<a href="/config.html">表示設定</a>
				<br>
				<a href="/sitemap.html">サイトマップ</a>
				<a href="/link.html">リンク</a>
				<a href="/ads.html">広告の掲載について</a>
				<a href="/contact_faq.html">よくある質問（FAQ）</a>
			</nav>
			<div class="minilogo" title="QC-Portal"></div>
		</div>

		<div id="footerBottomWrap" class="centeringBox">
			<div id="footerBottom" class="centeringContent">
				<small>&copy; 2010-
					<script>document.write(new Date().getFullYear());</script>　QC-Portal　All Rights Reserved.
				</small>
			</div>
		</div>
	</footer>
	<!-- FOOTER END -->

	<button id="drawer_btn"><span></span><span></span><span></span></button>
	<nav id="drawer_menu">

		<div class="drawer_header">学習支援ツール</div>
		<ul>
			<li><a href="/apkakomon.php" title="過去問道場(午前)" data-tip="人気">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
						fill="#555">
						<path
							d="M798.85-272.69 719.31-353l22.54-22.54 80.3 79.54-23.3 23.31ZM685-690.08l-22.54-21.54L742-791.15l23.31 22.53L685-690.08Zm-410 .77-79.54-80.31L218-792.15l80.31 79.53L275-689.31ZM160.38-272.69 137.85-296l79.53-78.54L240.69-353l-80.31 80.31Zm156.24 21L480-348.46l165.15 97.54-43.23-183.23 141.77-121.16-187.77-16.84L480-746.08l-75.15 173.93-187.77 16.07 142.77 121.93-43.23 182.46Zm-49 66.69 56.84-236L136-580.77l246.77-20.92L480-825l98 224.31 246.77 19.92L636.31-421l56.84 236L480-310.62 267.62-185Zm213.15-314Z" />
					</svg>
					過去問道場(午前)</a></li>

			<li><a href="/apkakomon_pm.php" title="過去問道場(午後)">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
						fill="#555">
						<path
							d="m397-428.92 31.15-103.23-82-60.16h102.47L480-696.62l31.38 104.31h102.47l-82.23 60.16 31.15 103.23L480-493l-83 64.08ZM280-101.54v-263.61q-38-37.39-59-87.54-21-50.16-21-107.31 0-117.08 81.46-198.54T480-840q117.08 0 198.54 81.46T760-560q0 57.15-21 107.31-21 50.15-59 87.54v263.61l-200-60-200 60ZM480-320q100 0 170-70t70-170q0-100-70-170t-170-70q-100 0-170 70t-70 170q0 100 70 170t170 70ZM320-158.23l160-44.85 160 44.85v-173.23q-33.46 24.61-74.35 38.04Q524.77-280 480-280t-85.65-13.42q-40.89-13.43-74.35-38.04v173.23Zm160-86.62Z" />
					</svg>
					過去問道場(午後)</a></li>

			<li><a href="/apbbs.php" title="掲示板" data-tip="質問・相談">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
						fill="#555">
						<path
							d="M260-404h296v-32H260v32Zm0-132h440v-32H260v32Zm0-132h440v-32H260v32ZM136-172.92v-594.46q0-24.32 16.15-40.47T192.62-824h574.76q24.32 0 40.47 16.15T824-767.38v430.76q0 24.32-16.15 40.47T767.38-280h-524.3L136-172.92ZM230-312h537.38q9.24 0 16.93-7.69 7.69-7.69 7.69-16.93v-430.76q0-9.24-7.69-16.93-7.69-7.69-16.93-7.69H192.62q-9.24 0-16.93 7.69-7.69 7.69-7.69 16.93v518.15L230-312Zm-62 0v-480 480Z" />
					</svg>
					掲示板</a>
			</li>
		</ul>

		<div class="drawer_header">応用情報技術者 過去問題解説</div>
		<ul>
			<li class="drawer_accordion"><a>
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
						fill="#555">
						<path
							d="M360-160v-40h80v-80H184.62q-27.62 0-46.12-18.5Q120-317 120-344.62v-390.76q0-27.62 18.5-46.12Q157-800 184.62-800h590.76q27.62 0 46.12 18.5Q840-763 840-735.38v390.76q0 27.62-18.5 46.12Q803-280 775.38-280H520v80h80v40H360ZM184.62-320h590.76q9.24 0 16.93-7.69 7.69-7.69 7.69-16.93v-390.76q0-9.24-7.69-16.93-7.69-7.69-16.93-7.69H184.62q-9.24 0-16.93 7.69-7.69 7.69-7.69 16.93v390.76q0 9.24 7.69 16.93 7.69 7.69 16.93 7.69ZM160-320v-440 440Z" />
					</svg>
					年度別 過去問</a>
			</li>

			<li>
				<ul class="testMenu">
					<li><a href="/kakomon/07_aki/" title="令和7年秋期">令和7年秋期</a>
					<li><a href="/kakomon/07_haru/" title="令和7年春期">令和7年春期</a>
					<li><a href="/kakomon/06_aki/" title="令和6年秋期">令和6年秋期</a>
					<li><a href="/kakomon/06_haru/" title="令和6年春期">令和6年春期</a>
					<li><a href="/kakomon/05_aki/" title="令和5年秋期">令和5年秋期</a>
					<li><a href="/kakomon/05_haru/" title="令和5年春期">令和5年春期</a>
					<li><a href="/kakomon/04_aki/" title="令和4年秋期">令和4年秋期</a>
					<li><a href="/kakomon/04_haru/" title="令和4年春期">令和4年春期</a>
					<li><a href="/kakomon/03_aki/" title="令和3年秋期">令和3年秋期</a>
					<li><a href="/kakomon/03_haru/" title="令和3年春期">令和3年春期</a>
					<li><a href="/kakomon/02_aki/" title="令和2年秋期">令和2年秋期</a>
					<li><a href="/kakomon/01_aki/" title="令和元年秋期">令和元年秋期</a>
					<li><a href="/kakomon/31_haru/" title="平成31年春期">平成31年春期</a>
					<li><a href="/kakomon/30_aki/" title="平成30年秋期">平成30年秋期</a>
					<li><a href="/kakomon/30_haru/" title="平成30年春期">平成30年春期</a>
					<li><a href="/kakomon/29_aki/" title="平成29年秋期">平成29年秋期</a>
					<li><a href="/kakomon/29_haru/" title="平成29年春期">平成29年春期</a>
					<li><a href="/kakomon/28_aki/" title="平成28年秋期">平成28年秋期</a>
					<li><a href="/kakomon/28_haru/" title="平成28年春期">平成28年春期</a>
					<li><a href="/kakomon/27_aki/" title="平成27年秋期">平成27年秋期</a>
					<li><a href="/kakomon/27_haru/" title="平成27年春期">平成27年春期</a>
					<li><a href="/kakomon/26_aki/" title="平成26年秋期">平成26年秋期</a>
					<li><a href="/kakomon/26_haru/" title="平成26年春期">平成26年春期</a>
					<li><a href="/kakomon/25_aki/" title="平成25年秋期">平成25年秋期</a>
					<li><a href="/kakomon/25_haru/" title="平成25年春期">平成25年春期</a>
					<li><a href="/kakomon/24_aki/" title="平成24年秋期">平成24年秋期</a>
					<li><a href="/kakomon/24_haru/" title="平成24年春期">平成24年春期</a>
					<li><a href="/kakomon/23_aki/" title="平成23年秋期">平成23年秋期</a>
					<li><a href="/kakomon/23_toku/" title="平成23年特別">平成23年特別</a>
					<li><a href="/kakomon/22_aki/" title="平成22年秋期">平成22年秋期</a>
					<li><a href="/kakomon/22_haru/" title="平成22年春期">平成22年春期</a>
					<li><a href="/kakomon/21_aki/" title="平成21年秋期">平成21年秋期</a>
					<li><a href="/kakomon/21_haru/" title="平成21年春期">平成21年春期</a>
				</ul>
			</li>

			<li class="drawer_accordion"><a>
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
						fill="#555">
						<path
							d="M240.62-136q-24.32 0-40.47-16.5T184-192.62v-478.76q0-23.62 16.15-40.12Q216.3-728 240.62-728h102.76v-105.23h35.08V-728h206.16v-105.23h32V-728h102.76q24.32 0 40.47 16.5T776-671.38v478.76q0 23.62-16.15 40.12Q743.7-136 719.38-136H240.62Zm0-32h478.76q9.24 0 16.93-7.69 7.69-7.69 7.69-16.93v-310.76H216v310.76q0 9.24 7.69 16.93 7.69 7.69 16.93 7.69ZM216-535.39h528v-135.99q0-9.24-7.69-16.93-7.69-7.69-16.93-7.69H240.62q-9.24 0-16.93 7.69-7.69 7.69-7.69 16.93v135.99Zm0 0V-696v160.61Zm264.21 157.54q-10.59 0-18.79-7.98-8.19-7.98-8.19-18.57 0-10.6 7.98-18.79t18.58-8.19q10.59 0 18.79 7.98 8.19 7.98 8.19 18.57 0 10.6-7.98 18.79t-18.58 8.19Zm-156 0q-10.59 0-18.79-7.98-8.19-7.98-8.19-18.57 0-10.6 7.98-18.79t18.58-8.19q10.59 0 18.79 7.98 8.19 7.98 8.19 18.57 0 10.6-7.98 18.79t-18.58 8.19Zm312 0q-10.59 0-18.79-7.98-8.19-7.98-8.19-18.57 0-10.6 7.98-18.79t18.58-8.19q10.59 0 18.79 7.98 8.19 7.98 8.19 18.57 0 10.6-7.98 18.79t-18.58 8.19ZM480.21-240q-10.59 0-18.79-7.98-8.19-7.98-8.19-18.58 0-10.59 7.98-18.79 7.98-8.19 18.58-8.19 10.59 0 18.79 7.98 8.19 7.99 8.19 18.58 0 10.6-7.98 18.79T480.21-240Zm-156 0q-10.59 0-18.79-7.98-8.19-7.98-8.19-18.58 0-10.59 7.98-18.79 7.98-8.19 18.58-8.19 10.59 0 18.79 7.98 8.19 7.99 8.19 18.58 0 10.6-7.98 18.79T324.21-240Zm312 0q-10.59 0-18.79-7.98-8.19-7.98-8.19-18.58 0-10.59 7.98-18.79 7.98-8.19 18.58-8.19 10.59 0 18.79 7.98 8.19 7.99 8.19 18.58 0 10.6-7.98 18.79T636.21-240Z" />
					</svg>
					ソフトウェア開発技術者 過去問</a>
			</li>

			<li>
				<ul class="testMenu">
					<li><a href="/kakomon/20_aki/" title="平成20年秋期">平成20年秋期</a>
					<li><a href="/kakomon/20_haru/" title="平成20年春期">平成20年春期</a>
					<li><a href="/kakomon/19_aki/" title="平成19年秋期">平成19年秋期</a>
					<li><a href="/kakomon/19_haru/" title="平成19年春期">平成19年春期</a>
					<li><a href="/kakomon/18_aki/" title="平成18年秋期">平成18年秋期</a>
					<li><a href="/kakomon/18_haru/" title="平成18年春期">平成18年春期</a>
					<li><a href="/kakomon/17_aki/" title="平成17年秋期">平成17年秋期</a>
					<li><a href="/kakomon/17_haru/" title="平成17年春期">平成17年春期</a>
					<li><a href="/kakomon/16_haru/" title="平成16年春期">平成16年春期</a>
					<li><a href="/kakomon/15_haru/" title="平成15年春期">平成15年春期</a>
				</ul>
			</li>

			<li class="drawer_accordion"><a>
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
						fill="#555">
						<path
							d="M584-463.08 663.08-384v32H496v188l-16 16-16-16v-188H296.92v-32L376-463.08V-744h-48v-32h304v32h-48v280.92ZM342-384h276l-66-66v-294H408v294l-66 66Zm138 0Z" />
					</svg>
					分野別 過去問題</a>
			</li>

			<li>
				<ul>
					<li><a href="/index_te.html" title="テクノロジ系">テクノロジ系</a>
					<li><a href="/index_ma.html" title="マネジメント系">マネジメント系</a>
					<li><a href="/index_st.html" title="ストラテジ系">ストラテジ系</a>
					<li><a href="/index_pm.html" title="午後問題">午後試験</a>
				</ul>
			</li>

			<li class="drawer_accordion"><a>
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
						fill="#555">
						<path
							d="M500.92-311.85 573-367.54l72.08 55.69-27.85-88.38 72.85-58.54h-88.67L573-546l-27.85 87.23h-89.23l72.85 58.54-27.85 88.38ZM192.62-232q-23.62 0-40.12-16.5Q136-265 136-288.62v-382.76q0-24.32 16.5-40.47T192.62-728h175.23l96 96h303.53q24.32 0 40.47 16.15T824-575.38v286.76q0 23.62-16.15 40.12Q791.7-232 767.38-232H192.62Zm0-32h574.76q10.77 0 17.7-6.92 6.92-6.93 6.92-17.7v-286.76q0-10.77-6.92-17.7-6.93-6.92-17.7-6.92H450.77l-96-96H192.62q-10.77 0-17.7 6.92-6.92 6.93-6.92 17.7v382.76q0 10.77 6.92 17.7 6.93 6.92 17.7 6.92ZM168-264v-432 432Z" />
					</svg>
					オリジナル模擬試験</a>
			</li>

			<li>
				<ul>
					<li><a href="/kakomon/01_moshi/" title="模擬試験１">模擬試験１</a>
					<li><a href="/kakomon/02_moshi/" title="模擬試験２">模擬試験２</a>
					<li><a href="/kakomon/03_moshi/" title="模擬試験３">模擬試験３</a>
				</ul>
			</li>
		</ul>

		<div class="drawer_header">シラバス用語対策</div>
		<ul>
			<li class="drawer_accordion"><a data-tip="シラバスver7.2対応">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
						fill="#555">
						<path
							d="M175.38-396.38h31.16l22.23-61.39h114.77L366-396.38h31.69l-92.38-245.7H267l-91.62 245.7Zm64.85-90.7 44.92-122.38h2l44.93 122.38h-91.85Zm315.15-89.23v-37.23q32.24-16.31 69.04-24.46 36.81-8.15 75.58-8.15 22.15 0 42.54 2.84 20.38 2.85 42.08 8.08v36.31q-20.93-6.7-40.81-9.27-19.89-2.58-43.81-2.58-38.77 0-75.69 8.73-36.93 8.73-68.93 25.73Zm0 218.46v-38.77q30.7-16.3 68.66-24.46 37.96-8.15 75.96-8.15 22.15 0 42.54 2.85 20.38 2.84 42.08 8.07V-382q-20.93-6.69-40.81-9.27-19.89-2.58-43.81-2.58-38.77 0-75.69 9.39-36.93 9.38-68.93 26.61Zm0-108.46v-38.77q32.24-16.3 69.04-24.46 36.81-8.15 75.58-8.15 22.15 0 42.54 2.84 20.38 2.85 42.08 8.08v36.31q-20.93-6.69-40.81-9.27-19.89-2.58-43.81-2.58-38.77 0-75.69 9.5-36.93 9.5-68.93 26.5ZM260-318.46q52.38 0 101.88 12.04 49.5 12.04 98.12 39.19v-392.46q-43.31-30.93-95.46-46.39-52.16-15.46-104.54-15.46-36 0-63.04 4.31t-60.04 16q-9.23 3.08-13.07 8.85-3.85 5.76-3.85 12.69v360.61q0 10.77 7.69 15.77t16.93 1.16q21.92-7.39 50.65-11.85 28.73-4.46 64.73-4.46Zm240 51.23q48.62-27.15 98.12-39.19 49.5-12.04 101.88-12.04 36 0 64.73 4.46 28.73 4.46 50.65 11.85 9.24 3.84 16.93-1.16 7.69-5 7.69-15.77v-360.61q0-6.93-3.85-12.31-3.84-5.38-13.07-9.23-33-11.69-60.04-16-27.04-4.31-63.04-4.31-52.38 0-104.54 15.46-52.15 15.46-95.46 46.39v392.46Zm-20 58q-48.77-33.39-104.77-51.31-56-17.92-115.23-17.92-31.23 0-61.35 5.23Q168.54-268 140-256.46q-21.77 8.69-40.88-5.23Q80-275.61 80-300.15v-386.62q0-14.85 7.81-27.54T109.69-732q35.23-15.54 73.31-22.54 38.08-7 77-7 58.77 0 114.65 16.92 55.89 16.93 105.35 49.24 49.46-32.31 105.35-49.24 55.88-16.92 114.65-16.92 38.92 0 77 7T850.31-732q14.07 5 21.88 17.69 7.81 12.69 7.81 27.54v386.62q0 24.54-20.65 37.69-20.66 13.15-43.97 4.46-27.76-10.77-56.73-15.62-28.96-4.84-58.65-4.84-59.23 0-115.23 17.92-56 17.92-104.77 51.31ZM290-494.38Z" />
					</svg>
					用語集</a>
			</li>

			<li>
				<ul>
					<li><a href="/keyword/" title="カテゴリーから探す">カテゴリーから探す</a></li>
					<li><a href="/keyword/#char_index" title="索引から探す">索引から探す</a></li>
				</ul>
			</li>
		</ul>

		<ul>
			<li class="drawer_accordion"><a>
					<svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
						fill="#555">
						<path
							d="M464-308h32v-220h-32v220Zm15.79-268.92q8.67 0 14.75-5.87t6.08-14.54q0-8.67-5.87-14.75-5.87-6.07-14.54-6.07-8.67 0-14.75 5.86-6.08 5.87-6.08 14.54 0 8.67 5.87 14.75t14.54 6.08Zm.62 440.92q-70.95 0-133.69-26.84-62.73-26.84-109.86-73.92t-73.99-109.72Q136-409.11 136-480.32q0-71.22 26.84-133.46 26.84-62.23 73.92-109.36t109.72-73.99Q409.11-824 480.32-824q71.22 0 133.46 26.84 62.23 26.84 109.36 73.92t73.99 109.48Q824-551.36 824-480.41q0 70.95-26.84 133.69-26.84 62.73-73.92 109.86t-109.48 73.99Q551.36-136 480.41-136Zm-.41-32q130 0 221-91t91-221q0-130-91-221t-221-91q-130 0-221 91t-91 221q0 130 91 221t221 91Zm0-312Z" />
					</svg>
					試験情報＆制度解説</a>
			</li>

			<li>
				<ul>
					<li><a href="/apis.html" title="応用情報技術者とは">応用情報技術者とは</a>
					<li><a href="/apmerit.html" title="応用情報技術者のメリット">応用情報技術者メリット</a>
					<li><a href="/apgaiyou.html" title="試験の概要">試験の概要</a>
					<li><a href="/apkeisiki.html" title="試験の形式と合格基準">試験の形式と合格基準</a>
					<li><a href="/aphani.html" title="出題範囲">試験の出題範囲</a>
					<li><a href="/apnanido.html" title="応用情報技術者の難易度">応用情報技術者の難易度</a>
					<li><a href="/aptext.html" title="おすすめ参考書・問題集">おすすめ参考書＆問題集</a>
					<li><a href="/aptoukei.html" title="統計情報">統計情報</a>
					<li><a href="/apfaq.html" title="FAQ">応用情報技術者 FAQ</a>
				</ul>
			</li>
		</ul>

		<a href="https://twitter.com/kakomon_doujou?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
			data-lang="ja" data-show-count="false">Follow @kakomon_doujou</a>
		<script async src="https://platform.twitter.com/widgets.js"></script>

	</nav>
	<a href="#header" id="toTop"><span>&#9650;</span><br>Pagetop</a>

	<!-- SCRIPT START -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/ap.js"></script>
	<!-- SCRIPT END -->
</body>

</html>