<h2>プライバシーポリシー（個人情報保護方針）</h2>
<div class="roundBox sentence">
    <ol>
        <li>当サイトでは、ユーザーがページを閲覧する際にユーザーに関する情報（IPアドレスを含む）を自動的に取得することがあります。</li>
        <li>当サイトで取得するユーザー情報は、広告が配信される過程においてクッキーやWebビーコンなどを用いて収集されることがあります。</li>
        <li>当サイトで取得するユーザー情報は、情報収集目的およびWebサイトの適切な管理を行うためのみに収集され、それ以外の用途には使用いたしません（クッキーとして送るテキストファイルには、個人を特定するような情報は含んでいません）。
        </li>
        <li>ユーザーは、プライバシー保護のため、クッキーの取得を拒否することができます。クッキーの取得を拒否したい場合には、お使いのブラウザの「ヘルプ」メニューをご覧になり、クッキーの送受信に関する設定を行ってください。
        </li>
        <li>お問い合わせの際にご記入いただいたメールアドレスは、お問い合わせへの対応以外の目的で使用しません。</li>
    </ol>